<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gauge</key>
	<real>20</real>
	<key>gaugeUnits</key>
	<integer>2</integer>
	<key>yarnNeededUnits</key>
	<integer>1</integer>
	<key>ballSize</key>
	<integer>150</integer>
	<key>ballSizeUnits</key>
	<integer>1</integer>
	<key>partialBalls</key>
	<true/>
	<key>length</key>
	<integer>200</integer>
	<key>lengthUnits</key>
	<integer>1</integer>
	<key>width</key>
	<integer>30</integer>
	<key>widthUnits</key>
	<integer>1</integer>
</dict>
</plist>
