<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031553085861-93rj414aemq3anbjubmiqicm2j5ootfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031553085861-93rj414aemq3anbjubmiqicm2j5ootfo</string>
	<key>API_KEY</key>
	<string>AIzaSyAPDqFrUfMQgDRBDNzPpniKZt_B52JAVrA</string>
	<key>GCM_SENDER_ID</key>
	<string>1031553085861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inqint.yarncalcfree</string>
	<key>PROJECT_ID</key>
	<string>knitting-yarn-calc</string>
	<key>STORAGE_BUCKET</key>
	<string>knitting-yarn-calc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031553085861:ios:231fc55d4940e445</string>
	<key>DATABASE_URL</key>
	<string>https://knitting-yarn-calc.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3658144280100378~8797816374</string>
</dict>
</plist>